// Use utils and theme variables
@use '../../../_config/styles/utils/_functions';
@use '../../../_config/styles/utils/_mixins';
@use '../../../_config/styles/theme/_theme';

//// NAVIGATION
//// --------------------------------------------------------------------------

	// Style block

	.navigation-block {
		.pixel-block-wrapper {
			.navigation {
				.navigation-list {
					@include mixins.gap(theme.$spacing-x2);
					.navigation-list-item {
						&:not(:has(.navigation-link-active)) {
							.navigation-link:hover {
								.icon {
									animation-name: bounce-horizontal;
									&:before {
										top: 1px;
										content: '\00003e';
									}
								}
							}
						}
						.navigation-link {
							font-size: functions.em(12px, rem);
							.icon {
								margin-right: theme.$spacing-x1;
							}
						}
					}
				}
			}
		}
	}
	.navigation {
		.navigation-list {
			.navigation-list-item {
				&:has(.navigation-link-active) {
					.navigation-link .icon:before {
						top: 1px;
						content: '\00003e';
					}
				}
				.navigation-link {
					position: relative;
					color: theme.$color-02;
					text-shadow: 2px 2px 0 theme.$color-03;
					.icon {
						margin-right: theme.$spacing-x2;
						min-width: 16px;
					}
				}
			}
		}
	}
	@include mixins.respond-min(theme.$bp-03) {
		.navigation-block {
			.pixel-block-wrapper {
				.navigation {
					.navigation-list {
						@include mixins.gap(theme.$spacing-x2 theme.$spacing-x4);
						.navigation-list-item {
							.navigation-link {
								font-size: functions.em(14px, rem);
								.icon {
									margin-right: theme.$spacing-x2;
								}
							}
						}
					}
				}
			}
		}
	}