// Use utils and theme variables
@use '../../../_config/styles/utils/_functions';
@use '../../../_config/styles/utils/_mixins';
@use '../../../_config/styles/theme/_theme';

//// NAVIGATION
//// --------------------------------------------------------------------------

	// Configuration

	$navigation-is-inline: true; // determine if navigation is inline

	// Style block

	.navigation-section {
		&, .navigation-section-wrapper {			
			position: relative;
		}
		.navigation-section-border {
			@include mixins.position-fill($z: 1);
			background-color: theme.$color-04;
		}
		.navigation-section-wrapper {
			padding: theme.$spacing-x4 theme.$spacing-x4 calc(theme.$spacing-x4 - 8px) theme.$spacing-x4;
			z-index: 2;
			.slideout-button {
				font-size: functions.em(16px, rem);
				text-shadow: 2px 2px 0 theme.$color-03;
				.icon {
					margin-right: theme.$spacing-x2;
				}
			}
			.navigation {
				.navigation-list {
					.navigation-list-item {
						padding: 0 theme.$spacing-x2;
						@if $navigation-is-inline == true {
							@include mixins.inline-block(middle);
						}
					}
				}
			}
		}
	}
	.navigation {
		.navigation-list {
			.navigation-list-item {
				&.active a, &:not(.active) a:hover {									
					.icon:before {
						top: 1px;
						content: '\00003e';
					}
				}
				&:not(.active) a:hover .icon {
					animation-name: bounce-horizontal;
				}
				a {
					position: relative;
					color: theme.$color-02;
					text-shadow: 2px 2px 0 theme.$color-03;
					.icon {
						margin-right: theme.$spacing-x2;
					}
				}
			}
		}
	}