// Use utils and theme variables
@use '../../../_config/styles/utils/_functions';
@use '../../../_config/styles/utils/_mixins';
@use '../../../_config/styles/theme/_theme';

//// NAVIGATION
//// --------------------------------------------------------------------------

	// Configuration

	$navigation-is-inline: true; // determine if navigation is inline

	// Style block

	.navigation-section {
		padding: theme.$spacing-x4 0 calc(theme.$spacing-x4 - 8px) 0;
		border-top: 2px solid theme.$color-03;
		border-bottom: 2px solid theme.$color-03;
		position: relative;
		&:before, &:after {
			content: '';
			display: block;
			@include mixins.sizing(100%, 0px);
			@include mixins.position($type: absolute, $left: 0);
			border-bottom: 2px solid theme.$color-06;
		}
		&:before {
			top: 0;
		}
		&:after {
			bottom: -4px;
		}
	}
	.navigation {
		.navigation-list {
			.navigation-list-item {
				padding: 0 theme.$spacing-x2;
				@if $navigation-is-inline == true {
					@include mixins.inline-block(middle);
				}
				a {
					position: relative;
					padding: 0 0 0 20px;
					color: theme.$color-02;
					&:before {
						content: '\0025aa';
						display: block;
						@include mixins.position($type: absolute, $left: 0, $top: -5.5px);
					}
					&:hover {
						color: theme.$color-03;
						&:before {
							top: -3.5px;
							content: '>';
						}
					}
				}
			}
		}
	}