// Use utils and theme variables
@use '../../../_config/styles/utils/_functions';
@use '../../../_config/styles/utils/_mixins';
@use '../../../_config/styles/theme/_theme';

//// GALLERY
//// --------------------------------------------------------------------------

	// Style block
	
	.gallery-active {
		overflow: hidden;
	}
	.gallery {
		.gallery-items {
			@include mixins.grid-layout(5px, 50px);
		}
		.gallery-content {
			&, .gallery-image {
				margin: 0 0 theme.$spacing-x4 0;
			}
			.gallery-header, .gallery-image, .gallery-details {
				min-width: 1px;
			}
			.gallery-header, .gallery-details {				
				@include mixins.flex(1 1 100%);
			}
			.gallery-image {
				@include mixins.flex(0 1 auto);
				.gallery-image-wrapper {					
					display: inline-block;
				}
			}
		}	
		.gallery-navigation {
			.gallery-navigation-list {
				margin: 0 -#{theme.$spacing-x1};
				.gallery-navigation-list-item {
					min-width: 1px;
					@include mixins.flex(0 1 auto);
					padding: 0 theme.$spacing-x1;
				}
			}
		}
	}
	#gallery-pixels {
		.gallery-content {
			.gallery-image {
				min-width: 150px;
			}
			.gallery-details {
				min-height: 160px;
			}
		}
	}
	@include mixins.respond-min(theme.$bp-03) {
		.gallery {
			.gallery-content {
				.gallery-image {
					@include mixins.flex(0 1 auto);
					max-width: 500px;
					min-width: 400px;
					margin: 0 theme.$spacing-x4 0 0;
				}
				.gallery-details {
					@include mixins.flex;
					.definition-list {
						.definition-list-item {
							dt {
								margin: 0 0 theme.$spacing-x1 0;
							}
							dd {
								@include mixins.flex(1 1 100%);
							}
						}
					}
				}
			}
		}
	}
	@include mixins.respond-min(theme.$bp-04) {
		.gallery {
			.gallery-content {
				.gallery-image {
					max-width: 600px;
				}
				.gallery-details {
					.definition-list {
						.definition-list-item {
							dt {
								margin: 0;
							}
							dd {
								@include mixins.flex(1 1 0%);
							}
						}
					}
				}
			}
		}
	}