// Local Sass modules
@use '../../../_core/styles/utils/_functions';
@use '../../../_core/styles/utils/_mixins';
@use '../../../_core/styles/theme/_theme';

//// FOOTER
//// --------------------------------------------------------------------------

	// Style block

	.footer {
		.row {
			.footer-copyright, .footer-navigation {
				width: 100%;
			}
			.footer-navigation {
				.footer-navigation-links {
					@include mixins.flex-layout((align-items: center));
					@include mixins.gap(theme.$spacing-x4);
					.footer-navigation-link {
						color: theme.$color-04;
					}
				}
			}
		}	
	}
	@include mixins.respond(theme.$bp-01) {
		.footer {
			.row {
				@include mixins.flex-parent(justify-content, flex-end);
				@include mixins.gap(theme.$spacing-x4);
				.footer-copyright, .footer-navigation {
					width: auto;
				}			
				.footer-copyright {
					@include mixins.position($type: relative, $top: 4px);
				}		
			}
		}	
	}
	@include mixins.respond(theme.$bp-02) {
		.footer {
			.row {
				.footer-navigation {
					.footer-navigation-links {
						button:hover .icon {
							animation-name: bounce-vertical;
						}
					}
				}		
			}
		}	
	}