// Use utils and theme variables
@use '../../../_config/styles/utils/_functions';
@use '../../../_config/styles/utils/_mixins';
@use '../../../_config/styles/theme/_theme';

//// FOOTER
//// --------------------------------------------------------------------------

	// Style block

	.footer {
		.row {
			.footer-copyright, .footer-navigation {
				width: 100%;
			}
			.footer-copyright {
				& ~ .footer-navigation .footer-navigation-links .footer-navigation-separator:first-child {
					display: none;
				}
			}
			.footer-navigation {
				.footer-navigation-links {
					margin: 0 -#{theme.$spacing-x2};
					.footer-navigation-link {
						color: theme.$color-02;
						margin: 0 theme.$spacing-x2;
						@include mixins.inline-block(middle);
					}
				}
			}
		}	
	}
	@include mixins.respond-min(theme.$bp-02) {
		.footer {
			.row {
				@include mixins.flex-parent(justify-content, flex-end);
				.footer-copyright, .footer-navigation {
					width: auto;
				}			
				.footer-copyright {
					& ~ .footer-navigation .footer-navigation-links .footer-navigation-separator:first-child {
						display: inline-block;
					}
				}		
			}
		}	
	}