// Use utils and theme variables
@use '../../../_config/styles/utils/_functions';
@use '../../../_config/styles/utils/_mixins';
@use '../../../_config/styles/theme/_theme';

//// RESETS
//// --------------------------------------------------------------------------

	// Style block

	*, *:after,	*:before {
		box-sizing: border-box;
	}

//// ELEMENTS
//// --------------------------------------------------------------------------

	// Colors

	$base-elements-color-01: theme.$color-03; // body background

	// Configuration

	$base-elements-spacing: theme.$spacing-x4; // overall spacing of theme
	$base-elements-body-spacing-vertical: theme.$spacing-x12; // top / bottom spacing for body
	$base-elements-body-spacing-horizontal: 0; // left / right spacing for body

	// Style block

	html, body {
		min-height: 100%;
	}
	body {
		background-color: $base-elements-color-01;
		background-image: url('../../../assets/images/theme/gradient-top.png'), url('../../../assets/images/theme/gradient-bottom.png');
		background-repeat: repeat-x, repeat-x;
		background-position: center top, center bottom;
		@if $base-elements-body-spacing-vertical != 0 or $base-elements-body-spacing-horizontal != 0 {
			padding: $base-elements-body-spacing-vertical $base-elements-body-spacing-horizontal calc($base-elements-body-spacing-vertical * 3) $base-elements-body-spacing-horizontal;
		}
		&.scrollbar::-webkit-scrollbar {
			@include mixins.sizing(8px, 8px);
		}
	}
	p, h1, h2, h3, h4, h5, h6, .margin-trim > div, .margin-trim > section {
		margin: 0 0 $base-elements-spacing 0;
	}
	.margin-trim > *:last-child {
		margin-bottom: 0;
	}
	ul, ol {
		list-style: none;
		padding: 0;
	}
	ul.unstyled, ol.unstyled {
		margin: 0;
	}
	ul:not(.unstyled), ol:not(.unstyled) {
		margin: 0 0 $base-elements-spacing 0;
		padding: 0 0 0 $base-elements-spacing;
		& > li {
			position: relative;
			margin: 0 0 theme.$spacing-x1 0;
			&:before {
				display: block;
				@include mixins.position($type: absolute, $left: 0);
			}
			&:last-child, ul, ol {
				margin-bottom: 0;
			}
		}
	}
	ul:not(.unstyled) {
		& > li {
			padding: 0 0 0 $base-elements-spacing;
			&:before {
				top: 2px;
				content: '\0025AA';
				font-size: functions.em(16px, rem);
				line-height: 1;
			}
		}
	}
	ol:not(.unstyled) {
		counter-reset: section;
		& > li {
			padding: 0 0 0 calc($base-elements-spacing * 2);
			&:before {
				top: 0;
				counter-increment: section;
				content: counter(section)'.';
			}
		}
	}
	.definition-list {
		margin: 0 0 $base-elements-spacing 0;
		.definition-list-item {
			@include mixins.flex-layout;
			margin: 0 0 theme.$spacing-x2 0;
			&:last-child {
				margin-bottom: 0;
			}
			dt, dd {
				min-width: 1px;
			}
			dt {
				@include mixins.flex(0 0 175px);
				font-family: theme.$font-family-02;
				font-weight: theme.$font-weight-02;
				margin: 0 0 theme.$spacing-x1 0;
			}
			dd {
				@include mixins.flex(1 1 100%);
				& > *:last-child {
					margin-bottom: 0;
				}
				ul {
					padding: 0;
				}
			}
		}
	}
	@include mixins.respond-min(theme.$bp-02) {
		body {
			@if $base-elements-body-spacing-vertical != 0 or $base-elements-body-spacing-horizontal != 0 {
				padding: theme.$spacing-x16 $base-elements-body-spacing-horizontal calc(theme.$spacing-x16 * 3) $base-elements-body-spacing-horizontal;
			}
		}
		.definition-list {
			.definition-list-item {
				dt {
					margin: 0;
				}
				dd {
					@include mixins.flex;
				}
			}
		}
	}

//// HELPERS
//// --------------------------------------------------------------------------

	// Colors

	$base-helpers-color-01: theme.$color-06; // scrollbar background
	$base-helpers-color-02: theme.$color-08; // scrollbar foreground

	// Configuration

	$base-helpers-scrollbar-width: 6px; // width of scrollbar
	$base-helpers-scrollbar-height: 6px; // height of scrollbar

	// Style block

	.sr-only {
		@include mixins.sr-only;
	}
	.pointer {
		cursor: pointer;
	}
	.clearfix {
		@include mixins.clearfix('&');
	}
	.scrollbar {
		@include mixins.scrollbar('&', $base-helpers-scrollbar-width, $base-helpers-scrollbar-height, $base-helpers-color-01, $base-helpers-color-02);
	}
	.pixel-border {
		@include mixins.pixel-border($bg: theme.$color-03, $border: theme.$color-06, $inset: theme.$color-07, $highlight: theme.$color-08);
	}
	.pixel-border-rounded {
		@include mixins.pixel-border($bg: theme.$color-03, $border: theme.$color-06, $inset: theme.$color-07, $highlight: theme.$color-08, $rounded: true);
	}
	.pixel-border-image {
		display: inline-block;
		padding: theme.$spacing-x2;
	}

//// ANIMATIONS
//// --------------------------------------------------------------------------	
	
	.animate-bottom, .animate-left {
		animation-duration: 2s;
		animation-iteration-count: infinite;
		animation-timing-function: ease;
	}
	.animate-bottom {
		transform-origin: bottom;
	}
	.animate-left {
		transform-origin: left;
	}
	@keyframes type {
		from { width: 0 }
		to   { width: 100% }
	}
	@keyframes cursor {
		from, to { background-color: transparent }
		50%      { background-color: darken(theme.$color-05, 8%) }
	}
	@keyframes bounce-horizontal {
		0%   { transform: translateX(0); }
		10%  { transform: translateX(0); }
		30%  { transform: translateX(-10px); }
		50%  { transform: translateX(0); }
		57%  { transform: translateX(-5px); }
		64%  { transform: translateX(0); }
		100% { transform: translateX(0); }
	}
	@keyframes bounce-vertical {
		0%   { transform: translateY(0); }
		10%  { transform: translateY(0); }
		30%  { transform: translateY(-10px); }
		50%  { transform: translateY(0); }
		57%  { transform: translateY(-5px); }
		64%  { transform: translateY(0); }
		100% { transform: translateY(0); }
	}