// Use utils and theme variables
@use '../../../_config/styles/utils/_functions';
@use '../../../_config/styles/utils/_mixins';
@use '../../../_config/styles/theme/_theme';

//// FORMS
//// --------------------------------------------------------------------------

	// Configuration

	$button-pixel-size: 4px;

	// Style block

	button {
		cursor: pointer;
		&.unstyled, &.a {
			background-color: transparent;
			border: 0;
			padding: 0;
		}
		&.unstyled {
			font-family: theme.$font-family-02;
			font-size: functions.em(18px, rem);
			color: theme.$color-02;
		}
		&.a {
			line-height: 1.7;
		}
	}