// Local Sass modules
@use '../../../_core/styles/utils/_functions';
@use '../../../_core/styles/utils/_mixins';
@use '../../../_core/styles/theme/_theme';

//// IMAGES
//// --------------------------------------------------------------------------
	
	img {
		display: block;
		max-width: 100%;
		border: 0;
	}