// Use utils and theme variables
@use '../../../_config/styles/utils/_functions';
@use '../../../_config/styles/utils/_mixins';
@use '../../../_config/styles/theme/_theme';

//// CONTAINER
//// --------------------------------------------------------------------------
 
 	// Configuration 

	$container-main-bp: theme.$bp-02; // breakpoint
	$container-main-spacing: theme.$spacing-x4; // spacing for layout
	$container-main-sidebar-width: 250px; // width of sidebar

	// Style block
	
	.container {
		max-width: theme.$container-base;
		margin: 0 auto;
		padding: 0 theme.$spacing-x4;
	}
	.container-main {
		& > * {
			margin: 0 0 theme.$spacing-x8 0;
			&:last-child {
				margin-bottom: 0;
			}
		}
	}
	.main {
		min-height: 80vh;
		.main-layout {
			@include mixins.gap($container-main-spacing);
			.content, .sidebar {
				@include mixins.flex(0 1 auto);
				width: 100%;
			}
		}
	}
	@include mixins.respond-min($container-main-bp) {
		.main {
			min-height: 40vh;
			.main-layout {
				.content {
					@include mixins.flex;
					width: auto;
				}
				.sidebar {
					width: $container-main-sidebar-width;
				}
			}
		}
	}