// Use utils and theme variables
@use '../../../_config/styles/utils/_functions';
@use '../../../_config/styles/utils/_mixins';
@use '../../../_config/styles/theme/_theme';

//// ARTICLES
//// --------------------------------------------------------------------------

	// Style block
	
	.articles-header {
		margin: 0 0 theme.$spacing-x8 0;
		.articles-header-title {
			& ~ .articles-header-date {
				margin-top: -#{theme.$spacing-x2};
			}
		}
		.articles-header-date {
			font-size: functions.em(12px, rem);
		}
	}
	.preview-articles {
		font-size: 16px;
		.preview-content {
			font-family: Tahoma, Calibri, Arial, sans-serif;
			font-size: 100%;
			.fonts-are-awesome > * {				
				margin: theme.$spacing-x4 0 0 0;
			}
		}
		&.preview-font-size {			
			.preview-content {				
				.fonts-are-awesome, .fonts-are-awesome > .child {
					font-size: 0.85em;
				}
				.fonts-are-awesome-part-02, .fonts-are-awesome-part-02 > .child {
					font-size: 20px;
				}
			}
		}
		&.preview-line-height-01, &.preview-line-height-02, &.preview-line-height-03 {
			.preview-content {
				line-height: 1.5em;
				.fonts-are-awesome-part-02 {
					font-size: 30px;
				}
			}
		}
		&.preview-line-height-03 .preview-content {
			line-height: 1.5;
		}
	}
	.articles-top {
		.articles-top-button {
			.icon {
				margin: 0 theme.$spacing-x2 0 0;
			}
		}
	}