// Use utils and theme variables
@use '../../../_config/styles/utils/_functions';
@use '../../../_config/styles/utils/_mixins';
@use '../../../_config/styles/theme/_theme';

//// HEADER
//// --------------------------------------------------------------------------

	// Style block

	.header {
		.header-title {
			&.header-title-cursor {
				display: inline-block;
				max-width: 100%;
				.header-type {
					position: relative;
					padding: 0 6px 0 0;
					overflow: hidden;
					white-space: nowrap;
					word-break: break-all;
					animation: type 3.5s steps(40);
					&:after {
						content: '';
						display: block;
						@include mixins.sizing(3px, 22px);
						@include mixins.position($type: absolute, $top: -2.5px, $bottom: 0, $right: 0);
						margin: auto 0;
						animation: cursor .75s step-end infinite;	
					}	
				}
			}
			a:hover {
				color: inherit;
			}
			.header-type {
				font-size: functions.em(16px, rem);
			}
		}
		.header-mugs {
			@include mixins.flex-layout((align-items: center));
			@include mixins.gap(theme.$spacing-x4);
			line-height: 1;
		}
	}
	@include mixins.respond-min(theme.$bp-01 - 100) {
		.header {
			.header-title {
				.header-type {
					font-size: functions.em(20px, rem);
				}
			}
		}
	}
	@include mixins.respond-min(theme.$bp-01) {
		.header {
			.header-title {
				&.header-title-cursor .header-type:after {
					height: 25px;
				}
			}
		}
	}
	@include mixins.respond-min(theme.$bp-02) {
		.header {
			.header-title {
				&.header-title-cursor .header-type:after {
					height: 30px;
				}
				.header-type {
					font-size: functions.em(26px, rem);
				}
			}
		}	
	}