// Use utils and theme variables
@use '../../../../_config/styles/theme/_theme';

//// BANNER CODE GENERATOR
//// --------------------------------------------------------------------------

	// Colors

	$banner-code-generator-color-01: theme.$color-02; // select button
	$banner-code-generator-color-02: theme.$color-08; // code background
	$banner-code-generator-color-03: theme.$color-02; // code font

	// Configuration

	$banner-code-generator-font-family: 'Courier New', monospace; // code font family
	$banner-code-generator-font-size: 16px; // code font size
	$banner-code-generator-spacing: 20px; // spacing for template

	// Calculations

	$banner-code-generator-spacing-half: calc($banner-code-generator-spacing / 2);
	$banner-code-generator-spacing-quarter: calc($banner-code-generator-spacing / 4);

	// Style block

	.dc-banner-code-generator {
		&, & * {
			-webkit-box-sizing: border-box;
			-moz-box-sizing: border-box;
			box-sizing: border-box;
		}
		& > * {
			margin: 0 0 $banner-code-generator-spacing 0;
			& > *:last-child {
				margin-bottom: 0;
			}
		}
		.dc-banner-code-generator-section {
			h5 {
				margin: 0 0 $banner-code-generator-spacing-half 0;
			}
			.dc-banner-code-generator-banners {
				-webkit-flex-flow: row wrap;
				flex-flow: row wrap;
				display: -webkit-flex;
				display: -ms-flex;
				display: -moz-flex;
				display: flex;
				-webkit-align-items: center;
				align-items: center;
				margin: 0 -#{$banner-code-generator-spacing-quarter} -#{$banner-code-generator-spacing-half} -#{$banner-code-generator-spacing-quarter};
				.dc-banner-code-generator-button {
					min-width: 1px;
					-webkit-flex: 0 1 auto;
					-ms-flex: 0 1 auto;
					-moz-flex: 0 1 auto;
					flex: 0 1 auto;
					padding: 0 $banner-code-generator-spacing-quarter;
					margin: 0 0 $banner-code-generator-spacing-half 0;
					background-color: transparent;
					border: 0;
				}
			}
		}
		.dc-banner-code-generator-code {
			position: relative;
			.dc-banner-code-generator-select-code, pre, code {
				font-family: $banner-code-generator-font-family;
			}
			.dc-banner-code-generator-select-code {
				position: absolute;
				top: $banner-code-generator-spacing;
				right: $banner-code-generator-spacing;
				background-color: transparent;
				border: 0;
				padding: 0;
				font-size: $banner-code-generator-font-size - 2;
				line-height: 1;
				color: $banner-code-generator-color-01;
			}
			pre, code {
				background-color: $banner-code-generator-color-02;
				margin: 0;
				padding: $banner-code-generator-spacing;				
				font-size: $banner-code-generator-font-size;
				color: $banner-code-generator-color-03;
				white-space: pre-wrap;
				word-break: break-word;
			}
			pre code {
				padding: 0;
				margin: 0;
			}
		}
	}