// Use utils and theme variables
@use '../../../_config/styles/utils/_functions';
@use '../../../_config/styles/utils/_mixins';
@use '../../../_config/styles/theme/_theme';

//// SLIDESHOW
//// --------------------------------------------------------------------------

	// Colors

	$slideshow-color-01: false; // navigation button
	$slideshow-color-03: false; // default pagination
	$slideshow-color-04: false; // default pagination border
	$slideshow-color-05: false; // active pagination
	$slideshow-color-06: false; // active pagination border

	// Configuration

	$slideshow-on: true; // enable slideshow
	$slideshow-slide-position: 600px; // pixel value to slide by
	$slideshow-slide-transition: false; // number represting slide transition duration (false will disable)
	$slideshow-swipe-on: true; // enable slideshow swipe
	$slideshow-navigation-on: true; // enable slideshow navigation
	$slideshow-navigation-button-size: 32px; // size of navigations buttons (default is 32px)
	$slideshow-navigation-vertical: -50px; // top position of navigation
	$slideshow-navigation-left: false; // left position of navigation
	$slideshow-navigation-right: 0; // right position of navigation
	$slideshow-pagination-on: false; // enable slideshow pagination
	$slideshow-pagination-size: 12px; // size of pagination bullets
	$slideshow-pagination-vertical: bottom; // top or bottom
	$slideshow-pagination-vertical-position: 10px; // value for vertical position
	$slideshow-pagination-horizontal: center; // left, right, or center
	$slideshow-pagination-horizontal-position: 10px; // value for horizontal position (ignored if center)
	$slideshow-pagination-radius: 50%; // add border radius to pagination bullets

	// Style block

	@if $slideshow-on == true {
		.slideshow {
			position: relative;
			@if $slideshow-slide-transition != false {
				&.active .slideshow-slide {
					left: 0;
					.slideshow-content {
						opacity: 1;
					}
				}
				&:not(.active) {
					&.slideshow-previous .slideshow-slide {
						left: -#{$slideshow-slide-position};
						@include mixins.animate(slidePrevious #{$slideshow-slide-transition}s forwards);
					}
					&.slideshow-next .slideshow-slide {
						left: $slideshow-slide-position;
						@include mixins.animate(slideNext #{$slideshow-slide-transition}s forwards);
					}
					.slideshow-slide .slideshow-content {
						@include mixins.transition(opacity #{$slideshow-slide-transition}s ease);
						opacity: 0;
					}
				}
			}
			.slideshow-slide {
				overflow: hidden;
				.slideshow-image {
					max-width: 600px;
					margin: 0 0 theme.$spacing-x4 0;
					.image-wrapper img {
						margin: auto 0;
					}
				}
				.slideshow-details {
					& > * {
						margin: 0 0 theme.$spacing-x2 0;
						&:last-child {
							margin-bottom: 0;
						}
					}
				}
			}
			.slideshow-swipe, .slideshow-navigation, .slideshow-pagination {
				position: absolute;
				z-index: 2;
			}
			.row {
				margin: 0 -2.5px;
				.column {
					margin: 0 2.5px;
					padding: 0;
				}
			}
			@if $slideshow-swipe-on == true {
				.slideshow-swipe {
					@include mixins.position($top: 0, $bottom: 0, $left: 0, $right: 0, $z: 1);
					margin: auto;
				}
			}
			@if $slideshow-navigation-on == true {
				.slideshow-navigation {
					@include mixins.position($top: $slideshow-navigation-vertical);
					@include mixins.if-exists((
						left: $slideshow-navigation-left,
						right: $slideshow-navigation-right,
					));
					.slideshow-navigation-button {
						@include mixins.flex-layout((flex-flow: column nowrap, align-items: center, justify-content: center));
						@include mixins.if-exists((background-color: $slideshow-color-01));
						@include mixins.sizing($slideshow-navigation-button-size, $slideshow-navigation-button-size);
						line-height: $slideshow-navigation-button-size;
					}
					.slideshow-navigation-previous {}
					.slideshow-navigation-next {}
				}
			}
			@if $slideshow-pagination-on == true {
				.slideshow-pagination {
					#{$slideshow-pagination-vertical} : $slideshow-pagination-vertical-position;
					@if $slideshow-pagination-horizontal == center {
						left: 0;
						right: 0;
					} @else {
						#{$slideshow-pagination-horizontal} : $slideshow-pagination-horizontal-position;
					}
					.row {
						.column {
							.slideshow-pagination-button {
								display: block;
								@include mixins.sizing($slideshow-pagination-size, $slideshow-pagination-size);
								line-height: $slideshow-pagination-size;
								@include mixins.if-exists((background-color: $slideshow-color-03));
								@if $slideshow-color-04 != false {
									border: 1px solid $slideshow-color-04;
								} @else {
									border: 0;
								}
								@if $slideshow-pagination-radius != false {
									@include mixins.border-radius($slideshow-pagination-radius);
								}
							}
						}
						.active {
							.slideshow-button {
								@include mixins.if-exists((background-color: $slideshow-color-05));
								@if $slideshow-color-06 != false {
									border: 1px solid $slideshow-color-06;
								}
							}
						}
					}
				}
			}
		}
	}

	@-webkit-keyframes slidePrevious {
		0%   { transform: translateX($slideshow-slide-position); }
		100% { transform: translateX(0); }
	}
	@-moz-keyframes slidePrevious {
		0%   { transform: translateX($slideshow-slide-position); }
		100% { transform: translateX(0); }
	}
	@keyframes slidePrevious {
		0%   { transform: translateX($slideshow-slide-position); }
		100% { transform: translateX(0); }
	}
	@-webkit-keyframes slideNext {
		0%   { transform: translateX(-#{$slideshow-slide-position}); }
		100% { transform: translateX(0); }
	}
	@-moz-keyframes slideNext {
		0%   { transform: translateX(-#{$slideshow-slide-position}); }
		100% { transform: translateX(0); }
	}
	@keyframes slideNext {
		0%   { transform: translateX(-#{$slideshow-slide-position}); }
		100% { transform: translateX(0); }
	}