//// BEST FRIENDS
//// --------------------------------------------------------------------------

	// Colors

	$best-friends-color-01: #383c46; // background
	$best-friends-color-02: #f5f5f5; // font
	$best-friends-color-03: #f5f5f5; // header
	$best-friends-color-04: #a4adc5; // link
	$best-friends-color-05: #f5f5f5; // link hover
	$best-friends-color-06: rgba(255, 255, 255, 0.5); // header background
	$best-friends-color-07: #383c46; // header text
	$best-friends-color-08: #f5f5f5; // button
	$best-friends-color-09: #50634e; // inactive button background
	$best-friends-color-10: #383c46; // active button background

	// Configuration

	$best-friends-breakpoint-01: 541px; // breakpoint for tablet styles
	$best-friends-breakpoint-02: 768px; // breakpoint for desktop styles
	$best-friends-max-width: 768px; // max width
	$best-friends-font-family-01: 'Trebuchet MS', Arial, Helvetica, sans-serif; // font family
	$best-friends-font-family-02: Georgia, 'Times New Roman', Times, serif; // header font family
	$best-friends-font-size-01: 14px; // font size
	$best-friends-font-size-02: 20px; // header font size
	$best-friends-items-per-row: 4; // number of tabs in main row
	$best-friends-spacing: 20px; // spacing for template

	// Style block

	.dc-best-friends {
		width: auto;
		max-width: 100%;
		margin: 0;
		background-color: $best-friends-color-01;
		border: 1px solid darken($best-friends-color-01, 5%);
		&, & * {
			-webkit-box-sizing: border-box;
			-moz-box-sizing: border-box;
			box-sizing: border-box;
			font-family: $best-friends-font-family-01;
			font-size: $best-friends-font-size-01;
			font-weight: 400;
			line-height: 1.5;
			color: $best-friends-color-02;
		}
		h3, h4, p, ul {
			margin: 0 0 $best-friends-spacing 0;
			&:last-child {
				margin-bottom: 0;
			}
		}
		h3, h4 {
			font-family: $best-friends-font-family-02;
			font-style: italic;
			font-weight: 400;
			line-height: 1.2;
			letter-spacing: 0;
			text-shadow: none;
			color: $best-friends-color-03;
		}
		h3 {
			font-size: $best-friends-font-size-02;
		}
		h4 {
			font-size: $best-friends-font-size-02 - 4px;
		}
		a {
			color: $best-friends-color-04;
			text-decoration: none;
			&:hover {
				color: $best-friends-color-05;
			}
		}
		.dc-best-friends-header {
			position: relative;
			line-height: 0;
			img {
				max-width: 100%;
				width: 100%;
			}
			h3 {
				position: absolute;
				bottom: 0;
				left: 0;
				right: 0;
				background: $best-friends-color-06;
				margin: 0;
				padding: $best-friends-spacing;
				color: $best-friends-color-07;
				overflow: hidden;
				text-overflow: ellipsis;
				white-space: nowrap;
			}
		}
		.dc-hello-content-tabs {
			.dc-hello-content-tabs-buttons {
				border: 0;
				.dc-hello-content-tabs-list {
					&, li {
						margin: 0;
						padding: 0;
					}
					li {
						&:last-child .dc-hello-content-button {
							border-bottom-width: 1px;
						}
						.dc-hello-content-button {
							-webkit-border-radius: 0;
							-moz-border-radius: 0;
							-ms-border-radius: 0;
							-o-border-radius: 0;
							border-radius: 0;
							background-color: $best-friends-color-09;
							border-color: darken($best-friends-color-09, 5%);
							border-left-width: 0;
							border-right-width: 0;
							border-bottom-width: 0;
							color: $best-friends-color-08;
						}
						.dc-hello-content-active {
							background-color: $best-friends-color-10;
							border-color: darken($best-friends-color-10, 5%);
						}
					}
				}
			}		
			.dc-hello-content-tabs-content .dc-hello-content-block {
				background-color: transparent;
			}
		}
	}
	@media only screen and (min-width: $best-friends-breakpoint-01) {
		.dc-best-friends {
			.dc-hello-content-tabs {
				.dc-hello-content-tabs-buttons .dc-hello-content-tabs-list {
					li {
						width: calc(100% / $best-friends-items-per-row);
						&:first-child .dc-hello-content-button {
							border-left-width: 0;
						} 
						&:last-child .dc-hello-content-button {
							border-right-width: 0;
							border-bottom-width: 0;
						}
						.dc-hello-content-button {
							border-right-width: 1px;
						}
						.dc-hello-content-active {
							border-left-width: 1px;
						}
					}					
				}
			}
		}
	}
	@media only screen and (min-width: $best-friends-breakpoint-02) {
		.dc-best-friends {
			max-width: $best-friends-max-width;
		}
	}