// Use utils and theme variables
@use '../utils/_functions';
@use '../utils/_mixins';
@use '../theme/_theme';

//// FOOTER
//// --------------------------------------------------------------------------

.footer {
	.row {
		.footer-copyright, .footer-navigation {
			width: 100%;
		}
		.footer-navigation {
			.footer-navigation-links {
				margin: 0 -#{theme.$spacing-x1};
				.footer-navigation-link, .footer-navigation-separator {
					margin: 0 theme.$spacing-x1;
					@include mixins.inline-block(middle);
				}
			}
		}
	}
	
}

@include mixins.respond-min(theme.$bp-02) {
	.footer {
		.row {
			@include mixins.flex-parent(justify-content, flex-end);
			.footer-copyright, .footer-navigation {
				width: auto;
			}			
		}
	}	
}