// Use utils and theme variables
@use '../utils/_functions';
@use '../utils/_mixins';
@use '../theme/_theme';

//// GALLERY
//// --------------------------------------------------------------------------

.gallery-active {
	overflow: hidden;
}

.gallery {
	.gallery-items .gallery-item .gallery-image, .gallery-info .gallery-info-image {
		line-height: 0;
		img {
			@include mixins.image-base;
		}
	}
	.gallery-items {
		@include mixins.flex-parent(align-content, flex-start);
		.gallery-item {
			width: 75px;
			@include mixins.flex-layout((flex-flow: column nowrap, justify-content: center, align-items: center));
		}
	}
	.gallery-info, .gallery-overlay {
		@include mixins.position($type: fixed, $top: 0, $bottom: 0, $right: 0, $left: 0);
	}
	.gallery-overlay {
		z-index: 9998;
		background-color: theme.$color-03;
		opacity: 0.75;
	}
	.gallery-info {
		z-index: 9999;
		max-height: 90vh;
		max-width: 90vw;
		margin: auto;
		padding: theme.$spacing-x8;
		background-color: theme.$color-01;
		.gallery-info-inner {
			height: 100%;
			@include mixins.position($type: relative, $z: 3);
			.gallery-info-header {
				margin: 0 0 theme.$spacing-x8 0;
				.gallery-info-title {
					margin: 0;
					padding-right: theme.$spacing-x2;
				}
				.gallery-info-close {
					margin-left: auto;
				}
			}
			.gallery-info-content {
				max-height: 85%;
				max-height: calc(100% - 80px);
				overflow-y: auto;
				margin-right: 0;
				padding: 0 theme.$spacing-x2 0 0;
				@include mixins.scrollbar('&', 6px, theme.$color-04, theme.$color-03);
				.gallery-info-image, .gallery-info-details {
					width: 100%;
				}
				.gallery-info-details {
					& > div {
						margin: 0 0 theme.$spacing-x4 0;
						&:last-child {
							margin-bottom: 0;
						}
					}
				}
			}
		}
	}
}

@include mixins.respond-min(theme.$bp-02) {
	.gallery {
		.gallery-info {
			.gallery-info-inner {
				.gallery-info-content {
					.gallery-info-image {
						width: auto;
						@include mixins.flex;
					}
					.gallery-info-details {
						width: 200px;
					}
				}
			}
		}
	}
}

@include mixins.respond-min(theme.$bp-03) {
	.gallery {
		.gallery-info {
			.gallery-info-inner {
				.gallery-info-content {
					.gallery-info-details {
						width: 300px;
					}
				}
			}
		}
	}
}

@include mixins.respond-min(theme.$bp-04) {
	.gallery {
		.gallery-info {
			.gallery-info-inner {
				.gallery-info-content {
					.gallery-info-details {
						width: 500px;
					}
				}
			}
		}
	}
}