// Use utils and theme variables
@use '../utils/_functions';
@use '../utils/_mixins';
@use '../theme/_theme';

//// GALLERY
//// --------------------------------------------------------------------------

.gallery-active {
	overflow: hidden;
}

.gallery {
	.gallery-items .gallery-item .gallery-image, .gallery-info .gallery-info-image {
		line-height: 0;
		img {
			@include mixins.image-base;
		}
	}
	.gallery-items {
		@include mixins.flex-parent(align-content, flex-start);
		.gallery-item {
			width: 75px;
			@include mixins.flex-layout((flex-flow: column nowrap, justify-content: center, align-items: center));
		}
	}
	.gallery-modal, .gallery-overlay {
		@include mixins.position($type: fixed, $top: 0, $bottom: 0, $right: 0, $left: 0);
		margin: auto;
	}
	.gallery-modal {
		z-index: 9999;
		@include mixins.flex-layout((flex-flow: column nowrap, justify-content: center, align-items: center));
	}
	.gallery-overlay {
		@include mixins.sizing(100%, 100%);
		background-color: theme.$color-07;
	}
	.gallery-info {
		max-height: 80%;
		max-width: 80%;
		padding: theme.$spacing-x8;
		background-color: theme.$color-01;
		& > * {
			@include mixins.position($type: relative, $z: 3);
			word-wrap: break-word;
		}
		.gallery-info-header {
			margin: 0 0 theme.$spacing-x4 0;
			.gallery-info-title {
				margin: 0;
				padding-right: theme.$spacing-x2;
			}
			.gallery-info-close {
				margin-left: auto;
			}
		}
		.gallery-info-footer {
			margin: theme.$spacing-x4 0 0 0;
		}
		.gallery-info-scroll {
			max-height: 85%;
			max-height: calc(100% - 100px);
			overflow-y: auto;
			padding: 0 theme.$spacing-x4 0 0;
			@include mixins.scrollbar('&', 6px, theme.$color-04, theme.$color-06);
		}
		.gallery-info-content {
			.gallery-info-image, .gallery-info-details {
				width: 100%;
				@include mixins.flex(0 1 auto);
			}
			.gallery-info-image {
				margin: 0 0 theme.$spacing-x4 0;
			}
		}
	}	
	.gallery-navigation {
		text-align: right;
		margin-left: -#{theme.$spacing-x1};
		margin-right: -#{theme.$spacing-x1};
		.gallery-navigation-button, .gallery-navigation-separator {
			@include mixins.inline-block(middle);
			margin: 0 theme.$spacing-x1;
		}
		.gallery-navigation-button {
			font-size: functions.em(14px, rem);
		}
	}
}

@include mixins.respond-min(theme.$bp-02) {
	.gallery {
		.gallery-info {
			.gallery-info-content {
				.gallery-info-image {
					width: auto;
					min-width: 200px;
					@include mixins.flex;
					margin: 0 theme.$spacing-x4 0 0;
				}
				.gallery-info-details {
					width: 200px;
				}
			}
		}
	}
}

@include mixins.respond-min(theme.$bp-03) {
	.gallery {
		.gallery-info {
			.gallery-info-content {
				.gallery-info-details {
					width: 300px;
				}
			}
		}
	}
}

@include mixins.respond-min(theme.$bp-04) {
	.gallery {
		.gallery-info {
			.gallery-info-content {
				.gallery-info-details {
					width: 500px;
				}
			}
		}
	}
}