//// TEST
//// --------------------------------------------------------------------------

	// Imports

	@import url('//fonts.googleapis.com/css2?family=Damion&family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');

	// Colors

	$test-color-01: #ffffff; // font
	$test-color-02: #c97f4a; // link
	$test-color-03: #ffffff; // link hover
	$test-color-04: #373026; // main background
	$test-color-05: #c97f4a; // border

	// Configuration

	$test-max-width: 650px; // max width for desktop
	$test-breakpoint: 768px; // breakpoint for desktop styles
	$test-font-family-01: 'Lato', Arial, sans-serif; // font family
	$test-font-family-02: 'Damion', Arial, sans-serif; // header font family
	$test-font-size-01: 13px; // font size
	$test-font-size-02: 40px; // header font size
	$test-spacing: 20px; // spacing for template

	// Style block

	.dc-test, .dc-test * {
		-webkit-box-sizing: border-box;
		-moz-box-sizing: border-box;
		box-sizing: border-box;
		font-family: Arial, sans-serif;
		font-size: 12px;
		line-height: 1.5;
		color: #ffffff;
	}
	.dc-test {
		width: auto;
		max-width: 100%;
		margin: 0;
	}