// Use utils and theme variables
@use '../../../_config/styles/utils/_functions';
@use '../../../_config/styles/utils/_mixins';
@use '../../../_config/styles/theme/_theme';

//// CHEAT CODES
//// --------------------------------------------------------------------------

	// Style block
	
	// Colors

	$menu-01-color-01: #ffffff; // font
	$menu-01-color-02: #4bc6f3; // font hover
	$menu-01-color-03: #167192; // main background
	$menu-01-color-04: #08212b; // border
	$menu-01-color-05: #11566f; // sublist background
	$menu-02-color-01: #ffffff; // font
	$menu-02-color-02: #000000; // font hover
	$menu-02-color-03: #0f5d21; // main background
	$menu-02-color-04: #127f2c; // alternating background
	$menu-03-color-01: #ffffff; // font
	$menu-03-color-02: #461515; // font hover
	$menu-03-color-03: #942929; // main background
	$menu-03-color-04: #5c1b1b; // sublist background
	$menu-03-color-05: #e54444; // sublist font hover
	$wish-you-were-here-color-01: #ffffff; // font
	$wish-you-were-here-color-02: #c97f4a; // link
	$wish-you-were-here-color-03: #ffffff; // link hover
	$wish-you-were-here-color-04: #373026; // main background
	$wish-you-were-here-color-05: #c97f4a; // border

	// Configuration

	$menu-01-max-width: 100%; // max width of menu
	$menu-01-font-family: Arial, Helvetica, sans-serif; // font family
	$menu-01-font-size: 12px; // font size
	$menu-01-spacing: 20px; // spacing for menu
	$menu-01-items-per-row: 5; // number of navigation items in main row
	$menu-02-max-width: 100%; // max width of menu
	$menu-02-font-family: Arial, Helvetica, sans-serif; // font family
	$menu-02-font-size: 12px; // font size
	$menu-02-spacing: 20px; // spacing for menu
	$menu-02-items-per-row: 5; // number of navigation items in main row
	$menu-03-max-width: 100%; // max width of menu
	$menu-03-font-family: Arial, Helvetica, sans-serif; // font family
	$menu-03-font-size: 12px; // font size
	$menu-03-spacing: 20px; // spacing for menu
	$menu-03-items-per-row: 5; // number of navigation items in main row
	$menu-03-arrow-size: 13px; // size of dropdown arrow
	$wish-you-were-here-max-width: 650px; // max width for desktop
	$wish-you-were-here-breakpoint: 768px; // breakpoint for desktop styles
	$wish-you-were-here-font-family-01: 'Lato', Arial sans-serif; // font family
	$wish-you-were-here-font-family-02: 'Damion', Arial, sans-serif; // header font family
	$wish-you-were-here-font-size-01: 13px; // font size
	$wish-you-were-here-font-size-02: 40px; // header font size
	$wish-you-were-here-spacing: 20px; // spacing for template

	// Style block

	.preview-cheat-codes {
		&.preview-navigation-menus {
			#dc-navigation-menu-01 {
				max-width: $menu-01-max-width;
				width: auto;
				margin: 0 auto;
				text-align: center;
				&, & * {
					-webkit-box-sizing: border-box;
					-moz-box-sizing: border-box;
					box-sizing: border-box;
					font-family: $menu-01-font-family;
					font-size: $menu-01-font-size;
				}
				ul {
					&, li {
						padding: 0;
						margin: 0;
						list-style: none;
					}
					li {
						a, span {
							display: block;
							padding: $menu-01-spacing;
							color: $menu-01-color-01;
							text-decoration: none;
						}
						a:hover {
							color: $menu-01-color-02;
						}
					}
				}
				.dc-navigation-list {
					-webkit-flex-flow: row nowrap;
					flex-flow: row nowrap;
					display: -webkit-flex;
					display: -ms-flex;
					display: -moz-flex;
					display: flex;
					-webkit-align-items: center;
					align-items: center;
					border-top: 1px solid $menu-01-color-04;
					border-bottom: 1px solid $menu-01-color-04;
					.dc-navigation-list-item {
						position: relative;
						min-width: 1px;
						-webkit-flex: 0 1 auto;
						-ms-flex: 0 1 auto;
						-moz-flex: 0 1 auto;
						flex: 0 1 auto;
						width: calc(100% / $menu-01-items-per-row);
						background-color: $menu-01-color-03;
						border-left: 1px solid $menu-01-color-04;
						&:hover {
							background-color: $menu-01-color-05;
						}
						&:last-child {
							border-right: 1px solid $menu-01-color-04;
						}
						&:hover .dc-navigation-sublist {
							top: auto;
							left: -1px;
							right: -1px;
						}
						.dc-navigation-sublist {
							position: absolute;
							top: -9999px;
							left: -9999px;
							z-index: 100;
							margin: 1px auto 0 auto;
							border-left: 1px solid $menu-01-color-04;
							border-right: 1px solid $menu-01-color-04;
							background-color: $menu-01-color-05;
							.dc-navigation-sublist-item {
								border-bottom: 1px solid $menu-01-color-04;
								a, span {
									border: 0;
									padding: calc($menu-01-spacing / 2);
								}
							}
						}
					}
				}
			}
			#dc-navigation-menu-02 {
				max-width: $menu-02-max-width;
				width: auto;
				margin: 0 auto;
				text-align: center;
				&, & * {
					-webkit-box-sizing: border-box;
					-moz-box-sizing: border-box;
					box-sizing: border-box;
					font-family: $menu-02-font-family;
					font-size: $menu-02-font-size;
				}
				ul {
					&, li {
						padding: 0;
						margin: 0;
						list-style: none;
					}
					li {
						background-color: $menu-02-color-03;
						a, span {
							display: block;
							padding: $menu-02-spacing;
							color: $menu-02-color-01;
							text-decoration: none;
						}
						a:hover {
							color: $menu-02-color-02;
						}
					}
				}
				.dc-navigation-list {
					-webkit-flex-flow: row nowrap;
					flex-flow: row nowrap;
					display: -webkit-flex;
					display: -ms-flex;
					display: -moz-flex;
					display: flex;
					-webkit-align-items: center;
					align-items: center;
					.dc-navigation-list-item {
						position: relative;
						min-width: 1px;
						-webkit-flex: 0 1 auto;
						-ms-flex: 0 1 auto;
						-moz-flex: 0 1 auto;
						flex: 0 1 auto;
						width: calc(100% / $menu-02-items-per-row);
						&:nth-child(even), &:nth-child(even) .dc-navigation-sublist .dc-navigation-sublist-item:nth-child(even),
						&:nth-child(odd) .dc-navigation-sublist .dc-navigation-sublist-item:nth-child(odd) {
							background-color: $menu-02-color-04;
						}
						&:hover .dc-navigation-sublist {
							top: auto;
							left: 0;
							right: 0;
							background-color: $menu-02-color-04;
						}
						.dc-navigation-sublist {
							position: absolute;
							top: -9999px;
							left: -9999px;
							z-index: 100;
							margin: 0 auto;
							.dc-navigation-sublist-item {
								a, span {
									padding: calc($menu-02-spacing / 2);
								}
							}
						}
					}
				}
			}
			#dc-navigation-menu-03 {
				max-width: $menu-03-max-width;
				width: auto;
				margin: 0 auto;
				text-align: center;
				&, & * {
					-webkit-box-sizing: border-box;
					-moz-box-sizing: border-box;
					box-sizing: border-box;
					font-family: $menu-03-font-family;
					font-size: $menu-03-font-size;
				}
				ul {
					&, li {
						padding: 0;
						margin: 0;
						list-style: none;
					}
					li {
						a, span {
							display: block;
							padding: $menu-03-spacing;
							color: $menu-03-color-01;
							text-decoration: none;
						}
						a:hover {
							color: $menu-03-color-02;
						}
					}
				}
				.dc-navigation-list {
					-webkit-flex-flow: row nowrap;
					flex-flow: row nowrap;
					display: -webkit-flex;
					display: -ms-flex;
					display: -moz-flex;
					display: flex;
					-webkit-align-items: center;
					align-items: center;
					background-color: $menu-03-color-03;
					.dc-navigation-list-item {
						position: relative;
						min-width: 1px;
						-webkit-flex: 0 1 auto;
						-ms-flex: 0 1 auto;
						-moz-flex: 0 1 auto;
						flex: 0 1 auto;
						width: calc(100% / $menu-03-items-per-row);
						&:hover .dc-navigation-sublist {
							top: auto;
							left: 0;
							right: 0;
							background-color: $menu-03-color-04;
						}
						.dc-navigation-sublist {
							top: -9999px;
							left: -9999px;
							&, &:before {
								position: absolute;
								z-index: 100;
								margin: 0 auto;
							}
							&:before {
								content: '';
								display: block;
								width: 0;
								height: 0;
								border-left: $menu-03-arrow-size solid transparent;
								border-right: $menu-03-arrow-size solid transparent;
								border-bottom: $menu-03-arrow-size solid $menu-03-color-04;
								top: -#{$menu-03-arrow-size};
								left: 0;
								right: 0;
							}
							.dc-navigation-sublist-item {
								a, span {
									padding: calc($menu-03-spacing / 2);
								}
								a:hover {
									color: $menu-03-color-05;
								}
							}
						}
					}
				}
			}			
			#dc-navigation-menu-01, #dc-navigation-menu-02 {
				margin-bottom: theme.$spacing-x4;
			}
		}
		&.preview-wish-you-were-here {
			.dc-wish-you-were-here {
				max-width: 100%;
				border: 2px solid $wish-you-were-here-color-05;
				border-bottom: 20px solid $wish-you-were-here-color-05;
				&, & * {
					-webkit-box-sizing: border-box;
					-moz-box-sizing: border-box;
					box-sizing: border-box;
				}				
				&, & .dc-wish-you-were-here-banner .dc-wish-you-were-here-circles span:before {
					background-color: $wish-you-were-here-color-04;
				}
				* {
					font-family: $wish-you-were-here-font-family-01;
					font-size: $wish-you-were-here-font-size-01;
					line-height: 1.5;
					color: $wish-you-were-here-color-01;
				}
				a {
					color: $wish-you-were-here-color-02;
					text-decoration: none;
					&:hover {
						color: $wish-you-were-here-color-03;
					}
				}
				.dc-wish-you-were-here-title {
					font-family: $wish-you-were-here-font-family-02;
					font-weight: normal;
					text-shadow: none;
					letter-spacing: 0;
					line-height: 1.2;
				}
				h3.dc-wish-you-were-here-title {
					font-size: $wish-you-were-here-font-size-02;
				}
				h4.dc-wish-you-were-here-title {
					font-size: calc($wish-you-were-here-font-size-02 - 10px);
				}
				.dc-wish-you-were-here-banner {
					width: 100%;
					height: 250px;
					background: url('//display.coffee/assets/images/cheat-codes/wish-you-were-here.jpg') no-repeat;
					background-size: cover;
					padding: $wish-you-were-here-spacing;
					position: relative;
					.dc-wish-you-were-here-title, .dc-wish-you-were-here-circles {
						position: absolute;
					}
					.dc-wish-you-were-here-title {
						text-align: right;
						text-shadow: 0 2px 0 rgba(0, 0, 0, 0.8);
						bottom: 30px;
						right: $wish-you-were-here-spacing;
						margin: 0;
					}
					.dc-wish-you-were-here-circles {
						bottom: 0;
						right: 0;
						left: 0;
						-webkit-flex-flow: row nowrap;
						flex-flow: row nowrap;
						display: -webkit-flex;
						display: -ms-flex;
						display: -moz-flex;
						display: flex;
						span {
							min-width: 1px;
							-webkit-flex: 0 1 auto;
							-ms-flex: 0 1 auto;
							-moz-flex: 0 1 auto;
							flex: 0 1 auto;
							width: 10%;
							&:before {
								content: '';
								display: block;
								width: 100%;
								height: 0;
								padding-bottom: 50%;
								line-height: 0;
								-webkit-border-radius: 50% 50% 0 0;
								-moz-border-radius: 50% 50% 0 0;
								-ms-border-radius: 50% 50% 0 0;
								-o-border-radius: 50% 50% 0 0;
								border-radius: 50% 50% 0 0;
							}
						}
					}
				}
				.dc-wish-you-were-here-content {
					padding: $wish-you-were-here-spacing;
					dl, p, .dc-wish-you-were-here-title {
						margin: 0 0 $wish-you-were-here-spacing 0;
					}
					dl, p {
						&:last-child {
							margin-bottom: 0;
						}
					}
					dl {
						dt, dd {
							display: inline-block;
							vertical-align: top;
							margin: 0 0 5px 0;
						}
						dt {
							width: 35%;
							font-weight: bold;
						}
						dd {
							width: 65%;
							padding: 0 0 0 $wish-you-were-here-spacing;
						}
					}
					p {
						text-align: justify;
					}
					.dc-wish-you-were-here-separator {
						padding: 0 5px;
						&:before {
							content: '|';
						}
					}
					.dc-wish-you-were-here-title {
						text-shadow: 0 2px 0 rgba(0, 0, 0, 1.0);
					}
					.dc-wish-you-were-here-row {
						-webkit-flex-flow: row wrap;
						flex-flow: row wrap;
						display: -webkit-flex;
						display: -ms-flex;
						display: -moz-flex;
						display: flex;
						margin: 0 -#{$wish-you-were-here-spacing} -#{$wish-you-were-here-spacing} -#{$wish-you-were-here-spacing};
						.dc-wish-you-were-here-column {
							min-width: 1px;
							-webkit-flex: 0 1 auto;
							-ms-flex: 0 1 auto;
							-moz-flex: 0 1 auto;
							flex: 0 1 auto;
							width: 100%;
							padding: 0 $wish-you-were-here-spacing;
							margin: 0 0 $wish-you-were-here-spacing 0;
						}
					}
				}
			}
			@media only screen and (min-width: $wish-you-were-here-breakpoint) {
				.dc-wish-you-were-here {
					max-width: $wish-you-were-here-max-width;
					.dc-wish-you-were-here-banner .dc-wish-you-were-here-circles {
						bottom: -#{$wish-you-were-here-spacing};
					}
					.dc-wish-you-were-here-content {
						.dc-wish-you-were-here-title {
							text-align: right;
						}
						.dc-wish-you-were-here-row .dc-wish-you-were-here-column {
							width: 50%;
						}
					}
				}
			}
		}
	}