// Use utils and theme variables
@use '../../../_config/styles/utils/_functions';
@use '../../../_config/styles/utils/_mixins';
@use '../../../_config/styles/theme/_theme';

//// CONTENTS
//// --------------------------------------------------------------------------

	// Style block
	
	.contents {
		.contents-header {
			margin: 0 0 theme.$spacing-x8 0;
			& > * {
				margin: 0 0 theme.$spacing-x2 0;
				&:last-child {
					margin-bottom: 0;
				}
			}
		}
		.contents-row {
			.contents-column {
				& > * {
					margin: 0 0 theme.$spacing-x2 0;
					&:last-child {
						margin-bottom: 0;
					}
				}
			}
		}
		.contents-link {
			display: block;
			.contents-name {
				margin: 0;	
				@include mixins.line-clamp(1);
			}
		}
		.contents-date {
			font-size: functions.em(12px, rem);
		}
		.contents-tags {
			.contents-tags-row {
				margin: 0 -#{theme.$spacing-x1} -#{theme.$spacing-x2} -#{theme.$spacing-x1};
				.contents-tags-column {
					padding: 0 theme.$spacing-x1;
					margin: 0 0 theme.$spacing-x2 0;
					line-height: 0;
				}
			}
		}
		.contents-clear {
			margin: theme.$spacing-x4 0 0 0;
		}
	}