// Use utils and theme variables
@use '../../../_config/styles/utils/_functions';
@use '../../../_config/styles/utils/_mixins';
@use '../../../_config/styles/theme/_theme';

//// CONTENTS
//// --------------------------------------------------------------------------

	// Style block
	
	.contents {
		.contents-header {
			margin: 0 0 theme.$spacing-x8 0;
			& > * {
				margin: 0 0 theme.$spacing-x2 0;
				&:last-child {
					margin-bottom: 0;
				}
			}
		}
		.contents-row {
			.contents-column {
				& > * {
					margin: 0 0 theme.$spacing-x2 0;
					&:last-child {
						margin-bottom: 0;
					}
				}
				.contents-description {
					font-size: functions.em(12px, rem);
					@include mixins.line-clamp(3);
					min-height: 62px;
				}
			}
		}
		.contents-link {
			display: block;
			position: relative;
			.pixel-border:after {
				z-index: 2;
			}
			.image-wrapper {
				position: relative;
				height: 0;
				padding-bottom: 64%;
				img {
					max-height: 100%;
					max-width: 100%;
					@include mixins.position-fill(auto);
				}
			}
			.contents-name {
				margin: 0;
				@include mixins.position($type: absolute, $left: 0, $right: 0, $bottom: 0, $z: 1);
				padding: 0 theme.$spacing-x4;
				background-color: rgba(theme.$color-08, 0.90);
				height: 45px;
				line-height: 45px;
				span {
					color: theme.$color-02;
					text-shadow: 2px 2px 0 theme.$color-03;
					@include mixins.line-clamp(1);
				}
			}
		}
		.contents-date {
			font-size: functions.em(12px, rem);
		}
		.contents-tags {
			.contents-tags-row {
				@include mixins.gap(theme.$spacing-x1);
				.contents-tags-column {
					line-height: 0;
				}
			}
		}
		.contents-clear {
			margin: 0 0 theme.$spacing-x4 0;
		}
	}
	@include mixins.respond-min(theme.$bp-02) {
		.contents {
			.contents-link {
				overflow: hidden;
				&:hover {
					.image-wrapper img {
						@include mixins.transform(scale(1.5, 1.5));
					}
				}
				.image-wrapper img {
					@include mixins.transition(transform 0.5s ease-in-out);
				}
			}
		}
	}
	@media only screen and (min-width: #{theme.$bp-02 - 100}px) and (max-width: #{theme.$bp-02 - 1}px) {
		.contents {
			.contents-row {
				.contents-column {
					@include mixins.gap-width(theme.$spacing-x4, 2);
				}
			}
		}
	}