// Use utils and theme variables
@use '../../../_config/styles/utils/_functions';
@use '../../../_config/styles/utils/_mixins';
@use '../../../_config/styles/theme/_theme';

//// ABOUT
//// --------------------------------------------------------------------------

	// Style block

	.page-about {
		.about-photo {
			line-height: 0;
			img {
				max-width: 100%;
			}
		}	
		@include mixins.respond-min(theme.$bp-01) {
			.about-photo {
				float: left;
				clear: left;
				width: 300px;
				margin-right: theme.$spacing-x4;
			}
		}
		@include mixins.respond-min(theme.$bp-02) {
			.about-photo {
				width: 200px;
			}
		}
		@include mixins.respond-min(theme.$bp-03) {
			.about-photo {
				width: 300px;
			}
		}
	}
