// Use utils and theme variables
@use '../../../_config/styles/utils/_functions';
@use '../../../_config/styles/utils/_mixins';
@use '../../../_config/styles/theme/_theme';

//// BLOCKS
//// --------------------------------------------------------------------------

	// Configuration

	$pixel-size: 4px;

//// BLOCKS - BUTTON
//// --------------------------------------------------------------------------

	// Style block

	.button2 {
		position: relative;
		display: inline-block;		
		border: 0;
		height: 36px;
		padding: 0 theme.$spacing-x2;
		margin: $pixel-size 0;
		font-size: functions.em(12px, rem);
		color: theme.$color-04;
		line-height: calc(36px + $pixel-size);
		&:focus, &:focus-visible, &:focus-visible {
			outline: 0;
		}
		span {
			display: block;
			@include mixins.ellipsis();
		}
		&:before, &:after {
			content: '';
			display: block;
			@include mixins.position($type: absolute, $left: 0, $right: 0);
			margin: auto;
			width: 90%;
			width: calc(100% - calc($pixel-size * 2));
			height: $pixel-size;
		}
		&:before {
			top: -#{$pixel-size};
		}
		&:after {
			bottom: -#{$pixel-size};
		}
		&.button-x-small {
			height: 20px;
			padding: 0 theme.$spacing-x2;
			font-size: functions.em(12px, rem);
			line-height: calc(20px + $pixel-size);
		}
	}
	.butto2-primary {	
		text-shadow: 2px 2px 0 theme.$color-05;
		&, &:before, &:after {
			background-color: theme.$color-06;
		}
	}
	.button2-secondary {
		text-shadow: 2px 2px 0 theme.$color-09;
		&, &:before, &:after {
			background-color: theme.$color-05;
		}
	}
	@include mixins.respond-min(theme.$bp-02) {
		.button2 {
			padding: 0 theme.$spacing-x4;
			font-size: functions.em(14px, rem);
		}
		.button2-primary:not(.active):hover {
			text-shadow: 2px 2px 0 theme.$color-09;
			&, &:before, &:after {
				background-color: theme.$color-05;
			}
		}
		.button2-secondary:not(.active):hover {
			text-shadow: 2px 2px 0 theme.$color-05;
			&, &:before, &:after {
				background-color: theme.$color-06;
			}
		}
	}

//// BLOCKS - CODE BLOCK
//// --------------------------------------------------------------------------

	// Style block

	.code-block {
		position: relative;
		padding: $pixel-size 0;
		&:before, &:after {
			content: '';
			display: block;
			width: 90%;
			width: calc(100% - calc($pixel-size * 2));
			height: $pixel-size;
			@include mixins.position($type: absolute, $left: 0, $right: 0);
			margin: auto;
		}
		&:before {
			top: 0;
			background-color: theme.$color-06;
		}
		&:after {
			bottom: 0;
			background-color: theme.$color-10;
		}
		.code-block-header {
			background-color: theme.$color-06;
			padding: theme.$spacing-x2;
			& > * {
				@include mixins.position($type: relative, $top: 2px);
				font-size: functions.em(14px, rem);
				line-height: 1.5;
			}
			.code-block-label {
				padding: 0 theme.$spacing-x2 0 0;
			}
			.code-block-button {
				margin: 0 0 0 auto;
				color: theme.$color-10;
				&:hover {
					color: theme.$color-04;
				}
			}
		}
		.code-block-pre {
			max-height: 500px;
			overflow-y: auto;
			&::-webkit-scrollbar-thumb {
				background: theme.$color-06;
			}
			&::-webkit-scrollbar-track {
				background: theme.$color-10
			}
		}
	}

//// BLOCKS - CODE INLINE
//// --------------------------------------------------------------------------

	// Style block
		
	.code-inline {
		padding: theme.$spacing-x05 theme.$spacing-x1;
		@include mixins.position($type: relative, $top: -2px);
	}

//// BLOCKS - HEADER ICON
//// --------------------------------------------------------------------------

	// Style block

	.h-icon {
		.icon {
			margin-left: theme.$spacing-x2;
			&:first-child {
				margin-left: 0;
				margin-right: theme.$spacing-x2;				
			}
		}
	}

//// BLOCKS - OUTPUT
//// --------------------------------------------------------------------------

	// Style block

	.output {
		position: relative;
		padding: $pixel-size 0;
		&:before, &:after {
			content: '';
			display: block;
			width: 90%;
			width: calc(100% - calc($pixel-size * 2));
			height: $pixel-size;
			@include mixins.position($type: absolute, $left: 0, $right: 0);
			margin: auto;
			background-color: theme.$color-04;
		}
		&:before {
			top: 0;
		}
		&:after {
			bottom: 0;
		}
		.output-content {
			background-color: theme.$color-04;
			padding: theme.$spacing-x4;			
			font-family: theme.$font-family-03;
			color: theme.$color-05;
		}
	}

//// BLOCKS - PIXEL BLOCK
//// --------------------------------------------------------------------------

	// Style block

	.pixel-block {
		&, .pixel-block-wrapper {			
			position: relative;
		}
		.pixel-border-rounded {
			@include mixins.position-fill($z: 1);
			background-color: theme.$color-06;
		}
		.pixel-block-wrapper {
			padding: theme.$spacing-x4 theme.$spacing-x4 calc(theme.$spacing-x4 - 8px) theme.$spacing-x4;
			z-index: 2;
			a, button {
				color: theme.$color-04;
				text-shadow: 2px 2px 0 theme.$color-05;
			}
			ul {
				@include mixins.flex-layout((align-items: center));
				@include mixins.gap(theme.$spacing-x2 theme.$spacing-x4);				
				li {
					min-width: 1px;
					@include mixins.flex(0 1 auto);
				}
			}
			.pixel-navigation {
				.pixel-navigation-list {
					.pixel-navigation-list-item {
						.pixel-navigation-link {
							.pixel-navigation-label {
								display: inline-block;
							}
							.icon {
								@include mixins.position($type: relative, $top: 1px);
							}
						}
					}
					.pixel-navigation-previous {
						.pixel-navigation-link {
							.pixel-navigation-label {
								margin: 0 0 0 theme.$spacing-x2;
							}
						}
					}
					.pixel-navigation-next {
						margin-left: auto;
						.pixel-navigation-link {
							.pixel-navigation-label {
								margin: 0 theme.$spacing-x2 0 0;
							}
						}
					}
					.pixel-navigation-back {
						width: 100%;
						order: 10;
						text-align: center;
					}
					.pixel-navigation-separator {
						display: none;
					}
				}
			}
		}
	}
	@include mixins.respond-min(theme.$bp-02) {
		.pixel-block {
			.pixel-block-wrapper {
				.pixel-navigation {
					.pixel-navigation-list {
						.pixel-navigation-list-item {
							width: auto;
						}
						.pixel-navigation-next {
							margin-left: 0;
						}
						.pixel-navigation-back {
							order: 0;
							text-align: left;
						}
						.pixel-navigation-separator {
							display: block;
						}
					}
				}
			}
		}
	}