// Use utils and theme variables
@use '../utils/_functions';
@use '../utils/_mixins';
@use '../theme/_theme';

//// MAIN
//// --------------------------------------------------------------------------

.wrapper-main {
	& > * {
		margin: 0 0 theme.$spacing-x8 0;
		&:last-child {
			margin-bottom: 0;
		}
	}
}

.main {
	.row {
		.main-content, .main-sidebar {
			width: 100%;
		}
		.main-content {
			& > *:last-child {
				margin-bottom: 0;
			}
		}
	}
}

@include mixins.respond-min(theme.$bp-02) {
	.main {
		.row {
			.main-content, .main-sidebar {
				width: auto;
			}
			.main-content {
				@include mixins.flex;
			}
			.main-sidebar {
				@include mixins.flex(0 1 auto);
				width: 300px;
			}
		}
	}
}